.date-time-picker {
    width: 100%;
    font-size:14px;
  }
  
  .date-time-picker .disabled {
      opacity: 0.36;
      cursor: default !important;
  }
  
  .date-time-picker .disabled:hover {
      background-color: #EFF1F4 !important;
  }
  
  .date-time-picker .icon-pos {
      background-position-x: calc(100% - 10px);
      opacity: 0.8px;
      cursor: pointer;
  }
  
  .date-time-picker ul {
      padding: 0px;
  }
  
  .date-time-picker div:first-child .react-datepicker-wrapper {
      width: 100%;
  }
  
  .date-time-picker div:first-child .react-datepicker-wrapper .react-datepicker__input-container {
      width: inherit;
  }
  
  .date-time-picker div:first-child .react-datepicker-wrapper .react-datepicker__input-container input {
      width: 100%;
      height: 42px;
      padding-left: 12px;
  }
  
  .date-time-picker div:first-child .react-datepicker-wrapper .react-datepicker__input-container input:hover {
      background-color: #e8eaee;
  }
  
  .date-time-picker .react-datepicker__time-container {
    width: 80px;
  }
  
  .date-time-picker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: inherit;
  }
  
  .date-time-picker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item--selected {
      background-color: #ED54A4 !important;
  }
  
  .date-time-picker .react-datepicker__time-container .react-datepicker__header--time {
      padding: 8px 0;
  }
  
  .date-time-picker .focused-line {
      width: inherit;
      height: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-top: -4px;
      position: relative;
  }
  
  .date-time-picker .focused-line-active {
      background-image: linear-gradient(to bottom, transparent, transparent 50%, #F47CBB 50%, #F47CBB) !important;
  }
  
  .date-time-picker .focus-info {
      background-image: linear-gradient(to bottom, transparent, transparent 50%, #3C71E1 50%, #3C71E1);
  }
  
  .date-time-picker .focus-success {
      background-image: linear-gradient(to bottom, transparent, transparent 50%, #0C884A 50%, #0C884A);
  }
  
  .date-time-picker .focus-error {
      background-image: linear-gradient(to bottom, transparent, transparent 50%, #EB1000 50%, #EB1000);
  }
  
  .date-time-picker .focus-warning {
      background-image: linear-gradient(to bottom, transparent, transparent 50%, #ED7100 50%, #ED7100);
  }
  
  .date-time-picker .msg-info {
      color: #3C71E1;
  }
  
  .date-time-picker .msg-success {
      color: #00A84F;
  }
  
  .date-time-picker .msg-error {
      color: #EB1000;
  }
  
  .date-time-picker .msg-warning {
      color: #ED7100;
  }
  
  .date-time-picker .msg-container {
      padding: 8px 12px 0 12px;
  }
  
  .date-time-picker .msg-container .caption {
      margin-left: 8px;
      display: inline-block;
      width: calc(100% - 24px);
      vertical-align: top;
  }
  
  .react-datepicker__day--outside-month {
      color: transparent !important;
      pointer-events: none;
  }
  
  .time-picker {
      width: 100%;
  }
  
  .time-picker .icon-pos {
      background-position-x: calc(100% - 10px);
      opacity: 0.8px;
      cursor: pointer;
  }
  
  .time-picker ul {
      padding: 0px;
  }
  
  .time-picker ul .react-datepicker__time-list-item {
    padding: 10px 5px !important;
    font-size: 10px !important;
  }
  
  .time-picker div:first-child .react-datepicker-wrapper {
      width: 100%;
  }
  
  .time-picker div:first-child .react-datepicker-wrapper .react-datepicker__input-container {
      width: inherit;
  }
  
  .time-picker div:first-child .react-datepicker-wrapper .react-datepicker__input-container input {
      width: 100%;
      height: 42px;
      padding-left: 12px;
  }
  
  .time-picker .react-datepicker__header--time {
    padding: 8px 0;
  }
  
  .react-datepicker {
      padding: 20px;
      border-radius: 8px !important;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12) !important;
      background-color: #ffffff !important;
      border: solid 1px rgba(0, 0, 0, 0.04) !important;
  }
  
  .react-datepicker .react-datepicker__navigation--previous {
      left: 20px;
      top: 32px;
  }
  
  .react-datepicker .react-datepicker__navigation--next {
      left: 228px !important;
      top: 32px;
  }
  
  .react-datepicker .react-datepicker__header {
      box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.08);
      background-color: unset;
      border: unset;
  }
  
  .react-datepicker .react-datepicker__current-month {
      font-size: 16px;
      font-weight: 400;
      opacity: 0.8;
  }
  
  .react-datepicker .react-datepicker__day-names {
      font-size: 14px;
      opacity: 0.56;
  }
  
  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 2rem;
    padding: 5px;
  }
  
  .react-datepicker .react-datepicker__month {
      margin: 0px;
  }
  
  .react-datepicker .react-datepicker__day--keyboard-selected, .react-datepicker .react-datepicker__day--selected, .react-datepicker .react-datepicker__day--in-selecting-range, .react-datepicker .react-datepicker__day--in-range {
      border-radius: 14px;
    background-color: #ED54A4;
    outline: none;
  }
  
  .react-datepicker .react-datepicker__day--keyboard-selected:hover, .react-datepicker .react-datepicker__day--selected:hover, .react-datepicker .react-datepicker__day--in-selecting-range:hover, .react-datepicker .react-datepicker__day--in-range:hover {
      border-radius: 14px;
    background-color: #ED54A4;
    outline: none;
  }
  
  .react-datepicker .react-datepicker__day--keyboard-selected:focus, .react-datepicker .react-datepicker__day--selected:focus, .react-datepicker .react-datepicker__day--in-selecting-range:focus, .react-datepicker .react-datepicker__day--in-range:focus {
    outline: none;
  }
  
  .react-datepicker .react-datepicker__day:hover {
    border-radius: 14px;
    outline: none;
  }
  
  .react-datepicker__close-icon::after {
      background-color: unset !important;
      opacity: 0.8;
      color: transparent !important;
  }
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    font-size: 12px;
    line-height: 30px;
    height:auto;
  }